.link {
    font-size: 24px;
    margin-left: 20px;
    padding: 20px 900px;
    background-color: rgba(206, 91, 235, 0.9);
    color: hsl(327, 83%, 16%);
    font-weight: 800;
    border-radius: 15px;
    border: 3px solid #f50808;
}

.title {
    font-size: 80px;
    text-align: center;
    background-color: rgb(207, 38, 38);
}

.button:hover {
    background-color: #f7b1e8;
}

.button:active {
    background-color: rgba(206, 91, 235, 0.4);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    transition-duration: 0.15s;
}

html {
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    height: auto;
}

.futt {
    padding: 15px auto;
    font-size: 20px;
}

header {
    background-color: #f50808;
    text-align: center;
}

.content {
    background-color: rgb(224, 235, 245);
    border: 5px solid hsl(120, 100%, 0%);
    border-radius: 15px;
    padding: 0px 0px 0px 0px;
}

body {
    padding: 30px 20px 30px 30px;
    background-color: rgb(192, 246, 250);
}